
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>申报表查看</title>
		<script language="javascript" type="text/javascript" src="../../swordweb/core/jsimport/Sword.js"></script>
	</head>
  
  <body>
    <div class="wrapper">
    	<div sword="PageInit" onFinish='init();'></div>
    </div>
    <script language='javascript' type='text/javascript' src='/gy/gy007/sbbckFromDzcx.js'></script>
  </body>
</html>

<div id="SwordPageData"  style='display:none' data='{"data":[{"name":"serviceName","value":"SB025YhssbCtrl_cwgzInitView","type":""},{"name":"sbbckdxlmc","value":"SB025YhssbBO","type":""},{"name":"djxh","value":"10114301010000045295","type":""},{"name":"pzxh","value":"10014319000020623817","type":""},{"name":"sbuuid","value":"A396DD11D56B93C59976CD0C42CBFBC5","type":""},{"name":"yzpzzlDm","value":"BDA0610794","type":""},{"name":"skssqq","value":"2019-04-01","type":""},{"name":"skssqz","value":"2019-04-30","type":""},{"name":"sbrq","value":"2019-05-15","type":""},{"name":"sbsxDm1","value":"11","type":""},{"name":"gsdz","value":"N","type":""},{"name":"gwssswjg","value":"14301054100","type":""},{"name":"sessionID","value":"2a8363ab60e24733a3ec67f470c9ea7c","type":""}]}'></div>
