@model JlueTaxSystemHuNanBS.Models.YbnsrzzsModel

<div id="cpygxcqkmxb" name="cpygxcqkmxb_div" style="display: none;">




    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="/web-accept//static/js/sbb/m10104/cpygxcqkmxbcontrol.js"></script>
    </head>

    <table class="sbbtable" style="width:0px">
        <tr>
            <td><div style="width:20px;"></div></td>
            <td><div style="width:248px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:42px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:51px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:42px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:131px;"></div></td>
            <td><div style="width:37px;"></div></td>
        </tr>
        <tr style="height:20px;">
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
        </tr>
        <tr style="height:53px;">
            <td class=" bg1 br0"></td>
            <td class=" ft1 fs20 ac vm nw bg1 br0" colspan="19">成品油购销存情况明细表</td>
        </tr>
        <tr style="height:37px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ar vm nw bg1 br1" colspan="3">&nbsp;单位名称（印章）：</td>
            <td class=" ft0 fs11 al vm nl bg1 br1" colspan="5">@Model.Nsrxx.NSRMC</td>
            <td class=" ft0 fs11 ar vm nw bg1 br1" colspan="2">税款所属期：</td>
            <td class=" ft0 fs11 al vm nw bg1 br1" colspan="7">@Model.GDTXDate.skssqq&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.GDTXDate.skssqz</td>
            <td class=" ft0 fs11 ar vm nw bg1 br1" colspan="2">单位：吨、元</td>
        </tr>
        <tr style="height:26px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ac vm nl bg_ne br3" rowspan="5">油品型号</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="4">期初库存</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="4">本期入库</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="6">本期出库</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="4">期末库存</td>
        </tr>
        <tr style="height:26px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2" colspan="2">数量</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2" colspan="2">金额</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2" colspan="2">数量</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2" colspan="2">金额</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="2">应税部分</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="4">非应税部分</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2" colspan="2">数量</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2" colspan="2">金额</td>
        </tr>
        <tr style="height:26px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2">数量</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" rowspan="2">金额</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="2">数量</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2" colspan="2">金额</td>
        </tr>
        <tr style="height:26px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自购</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自购</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自购</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自购</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自用</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自用</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自购</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">自购</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">代储</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">1</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">2</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">3</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">4</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">5</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">6</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">7</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">8</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">9</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">10</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">11</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">12</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">13</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">14</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">15</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">16</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">17</td>
            <td class=" ft0 fs11 ac vm nl bg_ne br2">18</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs9 al vm nl bg0 br3" name="wbsbzzsybnsrcpygxcb.ypxh" index="0" type="list" dn="wbsbzzsybnsrcpygxcb.ypxhmc" divname="wbsbzzsybnsrcpygxcb.ypxh.list" value=''></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgsl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckcdcsl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgje" format="l18x2d" index="0" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgsl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkdcsl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgje" format="l18x2d" index="0" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckyssl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckysje" format="l18x2d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszysl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfysdcsl" format="l16x4d" index="0" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszyje" format="l18x2d" index="0" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgsl" format="l16x4d" index="0" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkcdcsl" format="l16x4d" index="0" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgje" format="l18x2d" index="0" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs9 al vm nl bg0 br3" name="wbsbzzsybnsrcpygxcb.ypxh" index="1" type="list" dn="wbsbzzsybnsrcpygxcb.ypxhmc" divname="wbsbzzsybnsrcpygxcb.ypxh.list" value=''></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgsl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckcdcsl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgje" format="l18x2d" index="1" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgsl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkdcsl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgje" format="l18x2d" index="1" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckyssl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckysje" format="l18x2d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszysl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfysdcsl" format="l16x4d" index="1" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszyje" format="l18x2d" index="1" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgsl" format="l16x4d" index="1" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkcdcsl" format="l16x4d" index="1" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgje" format="l18x2d" index="1" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs9 al vm nl bg0 br3" name="wbsbzzsybnsrcpygxcb.ypxh" index="2" type="list" dn="wbsbzzsybnsrcpygxcb.ypxhmc" divname="wbsbzzsybnsrcpygxcb.ypxh.list" value=''></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgsl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckcdcsl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgje" format="l18x2d" index="2" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgsl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkdcsl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgje" format="l18x2d" index="2" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckyssl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckysje" format="l18x2d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszysl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfysdcsl" format="l16x4d" index="2" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszyje" format="l18x2d" index="2" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgsl" format="l16x4d" index="2" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkcdcsl" format="l16x4d" index="2" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgje" format="l18x2d" index="2" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs9 al vm nl bg0 br3" name="wbsbzzsybnsrcpygxcb.ypxh" index="3" type="list" dn="wbsbzzsybnsrcpygxcb.ypxhmc" divname="wbsbzzsybnsrcpygxcb.ypxh.list" value=''></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgsl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckcdcsl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgje" format="l18x2d" index="3" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgsl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkdcsl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgje" format="l18x2d" index="3" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckyssl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckysje" format="l18x2d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszysl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfysdcsl" format="l16x4d" index="3" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszyje" format="l18x2d" index="3" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgsl" format="l16x4d" index="3" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkcdcsl" format="l16x4d" index="3" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgje" format="l18x2d" index="3" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"><a href='javascript:void(0)' onclick='cpygxcqkmxbcontrol.addcpy(this);' class="jiajian"><img src="https://etax.hunan.chinatax.gov.cn/web-accept/static/css/images/jia.png" /></a></td>
            <td class=" ft0 fs9 al vm nl bg0 br3" name="wbsbzzsybnsrcpygxcb.ypxh" index="4" type="list" dn="wbsbzzsybnsrcpygxcb.ypxhmc" divname="wbsbzzsybnsrcpygxcb.ypxh.list" value=''></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgsl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckcdcsl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.qckczgje" format="l18x2d" index="4" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgsl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkdcsl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqrkzgje" format="l18x2d" index="4" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckyssl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckysje" format="l18x2d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszysl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfysdcsl" format="l16x4d" index="4" type="input"></td>
            <td class=" ft0 fs9 ar vm nl bg0 br2" name="wbsbzzsybnsrcpygxcb.bqckfyszyje" format="l18x2d" index="4" type="input"></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgsl" format="l16x4d" index="4" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkcdcsl" format="l16x4d" index="4" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="wbsbzzsybnsrcpygxcb.qmkczgje" format="l18x2d" index="4" type="input" isEditable=false></td>
            <td class=" ft0 fs9 ac vm nl bg1 br2">—</td>
            <td class='  ar vm nw bg1 br0'><a href='javascript:void(0)' onclick='cpygxcqkmxbcontrol.addcpy(this);' class="jiajian"><img src="https://etax.hunan.chinatax.gov.cn/web-accept/static/css/images/jia.png" /></a></td>
        </tr>

        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 ac vm nw bg_ne br3">合计</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="common.qckczgje" format="l18x2d" type="input" isEditable=false>0.00</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="common.bqrkzgje" format="l18x2d" type="input" isEditable=false>0.00</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="common.bqckysje" format="l18x2d" type="input" isEditable=false>0.00</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="common.bqckfyszyje" format="l18x2d" type="input" isEditable=false>0.00</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
            <td class=" ft0 fs9 ar vm nl bg_ne br2" name="common.qmkczgje" format="l18x2d" type="input" isEditable=false>0.00</td>
            <td class=" ft0 fs9 ac vm nl bg_ne br2">—</td>
        </tr>
        <tr style="height:26px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs11 al vm nw bg1 br1" colspan="19">注：本表逻辑关系式为：15=1+5-9-11；16=2+6-12；17=3+7-10-13。</td>
        </tr>
        <tr style="height:20px;">
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
        </tr>
        <tr style="height:41px;">
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0" colspan="4"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
        </tr>
        <tr style="height:41px;">
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
        </tr>
    </table>
    <div id='wbsbzzsybnsrcpygxcb.ypxh.list' style='display: none;'>[{"value":"","text":"\u0026nbsp;"},{"value":"A10","text":"含铅汽油"},{"value":"A20","text":"无铅汽油"},{"value":"A21","text":"90#无铅汽油"},{"value":"A22","text":"93#无铅汽油"},{"value":"A23","text":"97#无铅汽油"},{"value":"A24","text":"98#无铅汽油"},{"value":"A99","text":"其他无铅汽油"},{"value":"B11","text":"10#柴油"},{"value":"B12","text":"5#柴油"},{"value":"B13","text":"0#柴油"},{"value":"B21","text":"-10#柴油"},{"value":"B22","text":"-20#柴油"},{"value":"B23","text":"-35#柴油"},{"value":"B24","text":"-50#柴油"},{"value":"B25","text":"生物柴油"},{"value":"B99","text":"其他柴油"},{"value":"400","text":"石脑油"},{"value":"500","text":"溶剂油"},{"value":"600","text":"润滑油"},{"value":"700","text":"燃料油"},{"value":"800","text":"航空煤油"},{"value":"A25","text":"92#无铅汽油"},{"value":"A26","text":"95#无铅汽油"}]</div>
</html>
</div>