@model JlueTaxSystemHuNanBS.Models.YbnsrzzsModel

<div id="dkdjsstyjksdkqd" name="dkdjsstyjksdkqd_div" style="display: none;">




    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="/web-accept//static/js/sbb/m10104/dkdjsstyjksdkqdcontrol.js"></script>
    </head>

    <table class="sbbtable" style="width:0px">
        <tr>
            <td><div style="width:20px;"></div></td>
            <td><div style="width:218px;"></div></td>
            <td><div style="width:236px;"></div></td>
            <td><div style="width:259px;"></div></td>
            <td><div style="width:310px;"></div></td>
            <td><div style="width:194px;"></div></td>
            <td><div style="width:39px;"></div></td>
            <td><div style="width:109px;"></div></td>
        </tr>
        <tr style="height:37px;">
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
            <td class=" bg1 br0"></td>
        </tr>
        <tr style="height:50px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs19 fbd ac vm nw bg1 br0" colspan="7">代扣代缴税收通用缴款书抵扣清单</td>
        </tr>
        <tr style="height:23px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 fbd ac vm nw bg1 br0" colspan="7">（应税服务扣除项目明细）</td>
        </tr>
        <tr style="height:23px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 ar vm nw bg1 br0">税款所属时间：</td>
            <td class=" ft0 fs12 al vm nw bg1 br0" colspan="6">@Model.GDTXDate.skssqq&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.GDTXDate.skssqz</td>
        </tr>
        <tr style="height:23px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 ar vm nw bg1 br1">纳税人名称：(公章)</td>
            <td class=" ft0 fs12 al vm nw bg1 br1" colspan="4">@Model.Nsrxx.NSRMC</td>
            <td class=" ft0 fs12 ac vm nw bg1 br1" colspan="2">金额单位：元至角分</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 ac vm nw bg_ne br3">纳税人识别号</td>
            <td class=" ft0 fs12 ac vm nw bg_ne br2">扣缴人名称</td>
            <td class=" ft0 fs12 ac vm nw bg_ne br2">征收机关名称</td>
            <td class=" ft0 fs12 ac vm nw bg_ne br2">代扣代缴项目</td>
            <td class=" ft0 fs12 ac vm nw bg_ne br2">代扣代缴凭证编号</td>
            <td class=" ft0 fs12 ac vm nw bg_ne br2" colspan="2">税额</td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 al vm nw bg0 br3" name="wbsbzzsybnsrdkdjdkqd.kjnsrsbh" format="l20" index="0" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.kjrmc" format="l300" index="0" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.zsjgmc" format="l150" index="0" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjxm" format="l150" index="0" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjpzbh" format="l20" index="0" type="input"></td>
            <td class=" ft0 fs12 ar vm nw bg0 br2" colspan="2" name="wbsbzzsybnsrdkdjdkqd.se" format="l18x2d" index="0" type="input"></td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 al vm nw bg0 br3" name="wbsbzzsybnsrdkdjdkqd.kjnsrsbh" format="l20" index="1" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.kjrmc" format="l300" index="1" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.zsjgmc" format="l150" index="1" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjxm" format="l150" index="1" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjpzbh" format="l20" index="1" type="input"></td>
            <td class=" ft0 fs12 ar vm nw bg0 br2" colspan="2" name="wbsbzzsybnsrdkdjdkqd.se" format="l18x2d" index="1" type="input"></td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 al vm nw bg0 br3" name="wbsbzzsybnsrdkdjdkqd.kjnsrsbh" format="l20" index="2" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.kjrmc" format="l300" index="2" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.zsjgmc" format="l150" index="2" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjxm" format="l150" index="2" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjpzbh" format="l20" index="2" type="input"></td>
            <td class=" ft0 fs12 ar vm nw bg0 br2" colspan="2" name="wbsbzzsybnsrdkdjdkqd.se" format="l18x2d" index="2" type="input"></td>
        </tr>
        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 al vm nw bg0 br3" name="wbsbzzsybnsrdkdjdkqd.kjnsrsbh" format="l20" index="3" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.kjrmc" format="l300" index="3" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.zsjgmc" format="l150" index="3" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjxm" format="l150" index="3" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjpzbh" format="l20" index="3" type="input"></td>
            <td class=" ft0 fs12 ar vm nw bg0 br2" colspan="2" name="wbsbzzsybnsrdkdjdkqd.se" format="l18x2d" index="3" type="input"></td>
        </tr>
        <tr style="height:32px;">
            <td class='  bg1 br0'><a href='javascript:void(0)' onclick='dkdjsstyjksdkqdcontrol.addkdj(this);' class="jiajian"><img src="https://etax.hunan.chinatax.gov.cn/web-accept/static/css/images/jia.png" /></a></td>
            <td class=" ft0 fs12 al vm nw bg0 br3" name="wbsbzzsybnsrdkdjdkqd.kjnsrsbh" format="l20" index="4" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.kjrmc" format="l300" index="4" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.zsjgmc" format="l150" index="4" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjxm" format="l150" index="4" type="input"></td>
            <td class=" ft0 fs12 al vm nw bg0 br2" name="wbsbzzsybnsrdkdjdkqd.dkdjpzbh" format="l20" index="4" type="input"></td>
            <td class=" ft0 fs12 ar vm nw bg0 br2" colspan="2" name="wbsbzzsybnsrdkdjdkqd.se" format="l18x2d" index="4" type="input"></td>
            <td class='  ar vm nw bg1 br0'><a href='javascript:void(0)' onclick='dkdjsstyjksdkqdcontrol.addkdj(this);' class="jiajian"><img src="https://etax.hunan.chinatax.gov.cn/web-accept/static/css/images/jia.png" /></a></td>
        </tr>

        <tr style="height:32px;">
            <td class=" bg1 br0"></td>
            <td class=" ft0 fs12 ac vm nw bg_ne br3">合计</td>
            <td class=" bg_ne br2"></td>
            <td class=" bg_ne br2"></td>
            <td class=" bg_ne br2"></td>
            <td class=" bg_ne br2"></td>
            <td class=" ft0 fs12 ar vm nw bg_ne br2" colspan="2" name="common.djdjse" format="l18x2d" type="input" isEditable=false>0.00</td>
        </tr>
        <tr style="height:0px;">
            <td class=" bg1 br0"></td>
        </tr>
    </table>
</html>
</div>